# All variables must be filled in
INFLUXDB_HOST = "https://influx.example.com"
INFLUXDB_VERIFYSSL = True # Set false if client can't verify certificates (self signed or untrusted ca)
INFLUXDB_TOKEN = "token_generated_from_ui"
INFLUXDB_ORG = "organization_that_owns_bucket"
INFLUXDB_DB = "bucket_name"

MESH_NODE_HOSTS = ["COM5"] # Has to be an array, only works with USB for now
SUPPORTED_METRICS = ["deviceMetrics", "environmentMetrics"]
TRANSMISSION_QUALITY = ["rxRssi", "rxSnr"]

UPDATE_NODES_INTERVAL = 10 # In packets received

# Removes warnings
if INFLUXDB_VERIFYSSL == False:
    import urllib3
    urllib3.disable_warnings()